Each proposal should include the following sections:

## Using sex, cholesterol and maximum heart rate achieved to classify heart disease patients from Cleveland.

Methods:
Explain how you will conduct either your data analysis and which variables/columns you will use. Note - you do not need to use all variables/columns that exist in the raw data set. In fact, that's often not a good idea. For each variable think: is this a useful variable for prediction?
Describe at least one way that you will visualize the results
Expected outcomes and significance:
What do you expect to find?
What impact could such findings have?
What future questions could this lead to?""

### Introduction:
Heart disease includes various conditions that affect the heart and blood vessels. It is the leading cause of death worldwide. Some key types of heart disease are coronary artery disease, heart attack, heart failure, arrhythmias, and heart valve problems. Major risk factors for heart disease include high blood pressure, high cholesterol, smoking, and diabetes. Resting blood pressure refers to the pressure in the arteries when the heart rests between beats. The normal resting blood pressure is around 120/80 mmHg. Hypertension (high blood pressure) is when the resting blood pressure is consistently above 140/90 mmHg, which is a significant risk factor for heart disease. Serum cholesterol is the total amount of cholesterol in the blood, and a desirable total cholesterol level is below 200 mg/dL. High serum cholesterol can lead to the thickening of the heart muscle (hypertrophy) and, eventually, heart failure. This project will use these risk factors to classify patients based on their likelihood of having heart disease. The question is: Can we predict whether a new patient is likely to have heart disease based on their sex, cholesterol levels, and maximum heart rate achieved?

### Preliminary exploratory data analysis:
Demonstrate that the dataset can be read from the web into R 
Clean and wrangle your data into a tidy format
Using only training data, summarize the data in at least one table (this is exploratory data analysis). An example of a useful table could be one that reports the number of observations in each class, the means of the predictor variables you plan to use in your analysis and how many rows have missing data. 
Using only training data, visualize the data with at least one plot relevant to the analysis you plan to do (this is exploratory data analysis). An example of a useful visualization could be one that compares the distributions of each of the predictor variables you plan to use in your analysis.

In [31]:
# importing libraries
library(tidyverse)
library(tidymodels)
library(repr)
library(RColorBrewer)

In [32]:
set.seed(1)
# reading the dataframe from URL, assigning col names and types
cleveland_data <- read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/heart-disease/processed.cleveland.data",
                           col_names = c("age", "sex", "cp", "trestbps", "chol", "fbs", "restecg", 
                                         "thalach", "exang", "oldpeak", "slope", "ca", "thal", "num"),
                           col_types = list("d", "d", "d", "d", "d", "d", "d", "d", "d", "d", "d", "f", "f", "d"))

# cleaning, wrangling data
cleveland_data[ cleveland_data == "?" ] <- NA

cleveland_tidy <- cleveland_data |>
                    mutate(sex = as.factor(as.integer(sex)), cp = as.factor(as.integer(cp)), 
                           fbs = as.factor(as.integer(fbs)), restecg = as.factor(as.integer(restecg)),
                           exang = as.factor(as.integer(exang)), thal = as.factor(as.integer(thal)),
                           ca = as.factor(as.integer(ca)), slope = as.factor(as.integer(slope)))|>
                    mutate(num=ifelse(is.na(num), NA, (num > 0)))|>
                    mutate(sex=fct_recode(sex, "Famale"="0", "Male"="1"))

cleveland_split <- initial_split(cleveland_tidy, prop = 0.75, strata = num)

cleveland_training <- training(cleveland_split)
cleveland_testing <- testing(cleveland_split)

head(cleveland_training)

  age sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1 63  Male   1  145      233  1   2       150     0     2.3     3     1  1
2 37  Male   3  130      250  0   0       187     0     3.5     3     1  2
3 41  Famale 2  130      204  0   2       172     0     1.4     1     1  2
4 57  Male   4  140      192  0   0       148     0     0.4     2     1  1
5 56  Famale 2  140      294  0   2       153     0     1.3     2     1  2
6 57  Male   3  150      168  0   0       174     0     1.6     1     1  2
  num
1 FALSE
2 FALSE
3 FALSE
4 FALSE
5 FALSE
6 FALSE

In [33]:

balance_factors <- function(df, factor_col) {
  counts <- table(df[[factor_col]])
  min_count <- min(counts)
  
balanced_df <- do.call(rbind, lapply(levels(df[[factor_col]]), function(level) {
    df[df[[factor_col]] == level, ][sample(sum(df[[factor_col]] == level), min_count), ]
  }))
  
  return(balanced_df)
}
balance_df <- cleveland_training |>
              balance_factors("sex")
balance_df

    age sex    cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1   67  Famale 3  152      277  0   0       172     0     0.0     1     4  2
2   54  Famale 3  110      214  0   0       158     0     1.6     2     1  2
3   50  Famale 2  120      244  0   0       162     0     1.1     1     1  2
4   58  Famale 3  120      340  0   0       172     0     0.0     1     1  2
5   66  Famale 3  146      278  0   2       152     0     0.0     2     4  2
6   60  Famale 3  102      318  0   0       160     0     0.0     1     4  2
7   37  Famale 3  120      215  0   0       170     0     0.0     1     1  2
8   53  Famale 3  128      216  0   2       115     0     0.0     1     1  NA
9   53  Famale 4  130      264  0   2       143     0     0.4     2     1  2
10  41  Famale 2  126      306  0   0       163     0     0.0     1     1  2
11  51  Famale 3  130      256  0   2       149     0     0.5     1     1  2
12  59  Famale 4  174      249  0   0       143     1     0.0     2     1  2
13  57  Famale 4  128      303  0   2       159     0     0.0     1     4  2
14  58  Famale 2  136      319  1   2       152     0     0.0     1     3  2
15  45  Famale 4  138      236  0   2       152     1     0.2     2     1  2
16  65  Famale 3  140      417  1   2       157     0     0.8     1     4  2
17  63  Famale 4  108      269  0   0       169     1     1.8     2     3  2
18  39  Famale 3   94      199  0   0       179     0     0.0     1     1  2
19  46  Famale 4  138      243  0   2       152     1     0.0     2     1  2
20  71  Famale 2  160      302  0   0       162     0     0.4     1     3  2
21  54  Famale 2  132      288  1   2       159     1     0.0     1     4  2
22  34  Famale 2  118      210  0   0       192     0     0.7     1     1  2
23  67  Famale 4  106      223  0   0       142     0     0.3     1     3  2
24  41  Famale 2  105      198  0   0       168     0     0.0     1     4  2
25  35  Famale 4  138      183  0   0       182     0     1.4     1     1  2
26  50  Famale 4  110      254  0   2       159     0     0.0     1     1  2
27  62  Famale 4  150      244  0   0       154     1     1.4     2     1  2
28  62  Famale 4  140      394  0   2       157     0     1.2     2     1  2
29  65  Famale 3  155      269  0   0       148     0     0.8     1     1  2
30  56  Famale 2  140      294  0   2       153     0     1.3     2     1  2
⋮   ⋮   ⋮      ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
115 39  Male   3  140      321  0   2       182     0     0.0     1     1  2
116 58  Male   4  125      300  0   2       171     0     0.0     1     3  3
117 57  Male   4  150      276  0   2       112     1     0.6     2     4  1
118 64  Male   4  145      212  0   2       132     0     2.0     2     3  1
119 58  Male   2  125      220  0   0       144     0     0.4     2     NA 3
120 60  Male   3  140      185  0   2       155     0     3.0     2     1  2
121 43  Male   4  120      177  0   2       120     1     2.5     2     1  3
122 53  Male   4  140      203  1   2       155     1     3.1     3     1  3
123 43  Male   4  115      303  0   0       181     0     1.2     2     1  2
124 59  Male   1  160      273  0   2       125     0     0.0     1     1  2
125 46  Male   3  150      231  0   0       147     0     3.6     2     1  2
126 58  Male   3  140      211  1   2       165     0     0.0     1     1  2
127 64  Male   4  128      263  0   0       105     1     0.2     2     4  3
128 65  Male   4  120      177  0   0       140     0     0.4     1     1  3
129 64  Male   3  125      309  0   0       131     1     1.8     2     1  3
130 64  Male   1  110      211  0   2       144     1     1.8     2     1  2
131 51  Male   4  140      261  0   2       186     1     0.0     1     1  2
132 55  Male   4  160      289  0   2       145     1     0.8     2     4  3
133 63  Male   1  145      233  1   2       150     0     2.3     3     1  1
134 54  Male   3  125      273  0   2       152     0     0.5     3     4  2
135 64  Male   3  140      335  0   0       158     0     0.0     1     1  2
136 64  Male   1  170      227  0   2       155     0     0.6     2     1  3
137 53  Male   3  130      246  1   2       173     0     0.0     1     2  2
138 39  Male   4  118      219  0   0       140     0     1.2     2     1  3
139 68  Male   3  118      277  0   0       151     0     1.0     1     4  3
140 56  Male   2  120      240  0   0       169     0     0.0     3     1  2
141 48  Male   3  124      255  1   0       175     0     0.0     1     3  2
142 59  Male   4  135      234  0   0       161     0     0.5     2     1  3
143 59  Male   4  164      176  1   2        90     0     1.0     2     3  1
144 45  Male   4  104      208  0   2       148     1     3.0     2     1  2
    num
1   FALSE
2   FALSE
3   FALSE
4   FALSE
5   FALSE
6   FALSE
7   FALSE
8   FALSE
9   FALSE
10  FALSE
11  FALSE
12   TRUE
13  FALSE
14   TRUE
15  FALSE
16  FALSE
17   TRUE
18  FALSE
19  FALSE
20  FALSE
21  FALSE
22  FALSE
23  FALSE
24  FALSE
25  FALSE
26  FALSE
27   TRUE
28  FALSE
29  FALSE
30  FALSE
⋮   ⋮
115 FALSE
116  TRUE
117  TRUE
118  TRUE
119 FALSE
120  TRUE
121  TRUE
122  TRUE
123 FALSE
124  TRUE
125  TRUE
126 FALSE
127 FALSE
128 FALSE
129  TRUE
130 FALSE
131 FALSE
132  TRUE
133 FALSE
134 FALSE
135  TRUE
136 FALSE
137 FALSE
138  TRUE
139 FALSE
140 FALSE
141 FALSE
142 FALSE
143  TRUE
144 FALSE

In [34]:
sex_proportions <- balance_df |>
                      group_by(sex, num) |>
                      summarize(n = n()) |>
                      mutate(percent = 100*n/nrow(balance_df))
sex_proportions

`summarise()` has grouped output by 'sex'. You can override using the `.groups`
argument.

  sex    num   n  percent
1 Famale FALSE 56 38.88889
2 Famale  TRUE 16 11.11111
3 Male   FALSE 33 22.91667
4 Male    TRUE 39 27.08333

In [ ]:
#plotting the training data
plot1 <- balance_df|>
                 # scale(balance_df[5,8], center=TRUE, scale=TRUE)|>
                 ggplot(aes(x = thalach, y = chol, color = num)) +
                 geom_point() +
                 facet_grid(rows=vars(sex))+
                 labs(x = "max heart rate reached", y = "cholesterol (mg/dl)", color = "Heart Disease")+
                 scale_color_brewer(palette = "Set1")
plot1

## Methods

I am using the processed.cleveland.data from the Heart Disease Database, originally collected from the Cleveland Clinic Foundation, to create a knn model for predicting the likelihood of a patient from Cleveland having heart disease. The columns are as follows:

- age: age
- sex: sex (1 = male, 0 = female)
- cp: chest pain type
- trestbps: resting blood pressure in mmHg
- chol: serum cholestoral in mg/dl
- fbs: fasting blood sugar > 120 mg/dl? (1 = True, 0 = False)
- restecg: resting electrocardiographic results
- thalach: maximum heart rate achieved
- exang: whether exercise induced angina (1 = True, 0 = False)
- oldpeak: ST depression induced by exercise, relative to rest
- slope: the slope of the peak exercise ST segment (1 = upslope, 2 = flat, 3 = downslope)
- ca: number of major vessels (0-3) coloured by fluoroscopy
- thal: (3 = normal, 6 = fixed defect, 7 = reversible defect)
- num: diagnosis of heart disease (1,2,3,4 = presence, 0 = no presence)
Each column is numeric-valued, with 303 rows representing missing data as the string "?".

First and foremost, the crucial task of data cleaning is This process involves changing all "?" values in the intoned column using integers to distinguish the presence (1,2,3,4) from the absence (0) of heart disease; I want to determine whether or not a patient embarks on the c NA. Since the ' has heart disease. To clarify this, I overwrite the 'num' as a factor column and change 0 to "False" and 1 to "True". Moreover, I also overwrite the sex col by changing 1 to "male" and 0 to "female". This meticulous data cleaning is a vital step in our analysis, ensuring the accuracy and reliability of our predictive model.

I divided the data into 75% for training and 25% for testing using initial_split(), ensuring it's balanced for diagnosis. I only used the training set for analysis. Next, I created a function to balance the male and female data and the percentage of those with heart disease to illustrate better the relationship between the maximum heart rate achieved and serum cholesterol.

To summarize the data, I grouped by sex and number and then summarised the percentage of each sex having heart disease or not. I noticed that females have a low rate of heart disease.

In order to better understand the data, I used data visualization techniques. I created scatter plots to compare different numerical variables for females and males. This helped me identify the best indicators aligned with our initial research (see introduction). By plotting 'chol' against 'thalach' and colour-coding based on 'num', I could identify three distinct regions for accurate diagnoses and regions where the two overlapped. The visual exploration of the data confirmed our hypotheses and provided new insights, making our predictive model more reliable.

Therefore, I have decided to make sex, chol and thalach as the predictors.

### Expected outcomes and significance

Our research anticipates that heart disease patients will, on average, exhibit higher cholesterol levels, lower maximum heart rates, and a distinct distribution across sexes. These findings could potentially revolutionize our understanding and management of heart disease.

A classification system for heart disease could simplify and improve the accuracy of patient diagnosis, leading to earlier treatment.

Some future questions this could lead to are:

1. Which factors always work together to result in the heart disease?
2. How to treat and prevent heart disease in different sexes?